.text-banner {
    display: none;
}
#txt2 {
    display: none;
}
#arrow1 {
    display: none;
}
/* .about-title {
    display: none;
}
.about-title-mov {
    display: none;
}
#arrow2-mov {
    display: none;
}
#arrow2 {
    display: none;
}
#about-txt1 {
    display: none;
}
#about-txt2 {
    display: none;
}
#about-txt3 {
    display: none;
}
#about-txt4 {
    display: none;
}
#questions {
    display: none;
}
.about-txt1 {
    display: none;
}
.about-txt2 {
    display: none;
}
.about-txt3 {
    display: none;
}
.about-txt4 {
    display: none;
} */
#questions {
    display: none;
}
/* #sentence-under-img {
    display: none;
} */
/* .title-contact {
    display: none;
}
.contact-sentence {
    display: none;
}
.form-list {
    display: none;
} */
.contact-desktop-div {
    display: none;
}

.container-sentence-movile {
    display: none;
}

.container-titles-moviles {
    display: none;
}

/* #sentence-about-movile-2 {
    display: none;
} */

.titles-desktop {
    display: none;
}

.container-text-desktop {
    display: none;
}

.container-contact-mobile {
    display: none;
}
